.main
  padding: 0
  font-family: OpenSans-Light

h2
  font-family: OpenSans-Light
  font-size: 24px
  color: $yellow
  line-height: 33px
  text-align: center

  .dots
    letter-spacing: 15px
    padding: 0 0 0 15px

h1
  font-size: 48px
  font-family: OpenSans-Bold
  color: $blue-light
  line-height: 65px
  letter-spacing: 1px
  text-align: center

h3
  font-family: OpenSans
  font-size: 21px
  color: $blue-light
  line-height: 24px
  letter-spacing: 1px

.btn-action
  border-radius: 0
  font-family: OpenSans
  font-size: 14px
  color: white
  line-height: 19px
  background-color: $blue-light
  border: 0
  min-width: 20rem
